* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* sets rem to 10px */
}

body {
  background-color: #ccc;
}

h1 {
  user-select: none;
  font-size: 4rem;
}

.gameover {
  color: darkred;
}

.d-flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.controls {
  width: 32rem;
}

.board {
  background-color: #fff;
  padding: 0.5rem;
  width: 41rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.game__box {
  width: 4rem;
  height: 4rem;
  font-size: 3.8rem;
  color: white;
}

.game__container {
  margin: 0 auto;
  max-width: 74rem;
  align-items: center;
}

.box--snake {
  background-color: black;
}

.box--head {
  background-color: black;
}

.box--food {
  background-color: green;
}

.key {
  cursor: pointer;
  margin: 0.5rem auto;
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.4);
}

.key:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  transform: scale(0.97);
}

.key.pressed {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  transform: scale(0.97);
}

.button {
  font-size: 2rem;
}

@media only screen and (max-width: 740px) {
  html {
    font-size: 50%;
  }

  .game__container {
    flex-direction: column-reverse;
  }
}
